mat-panel-title {
    mat-slide-toggle {
        margin-left: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.dialog-title {
    display: flex;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid gray;

    h1 {
        margin-bottom: 0px;
    }

    .close-button {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-left: auto;

        fa-icon {
            font-size: 120%;
        }
    }

    .close-button:hover {
        cursor: pointer;
        color: red;
        transition: color 0.5s ease;
    }
}

.dialog-title::before {
    height: auto;
}

.dialog-content {
    padding: 12px;

    .category-title {
        display: flex;
        align-items: center;
        height: 24px;
        margin-bottom: 5px;
        margin-top: 24px;
        gap: 5px;

        mat-checkbox {
            margin-right: -5px;
            margin-left: -12px;
        }

        b:hover {
            cursor: pointer;
        }
    }
}

.dialog-actions {
    padding: 12px;
    min-width: 650px;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid gray;

    .allow-all-button {
        flex-basis: 50%;
        color: white;
        background-color: green;
    }

    .save-settings-button,
    .disallow-all-button {
        flex-basis: calc(25% - 8px);
        margin-left: 8px;
    }

    .links {
        margin-top: 6px;
        display: flex;
        width: 100%;
        gap: 12px;
        justify-content: center;

        a {
            color: rgba(0, 0, 0, 0.6);
            text-decoration: none;
        }

        a:hover {
            cursor: pointer;
            color: initial;
            transition: color 0.5s ease;
        }
    }
}

@media(max-width: 900px) {
    .dialog-actions {
        min-width: 0px;

        .allow-all-button {
            flex-basis: 100%;
            margin-bottom: 12px;
        }

        .save-settings-button {
            margin-left: 0px;
            flex-basis: 50%;
        }

        .disallow-all-button {
            flex-basis: calc(50% - 8px);
        }
    }
}

@media(max-width: 575px) {
    .dialog-title {
        .close-button {
            display: none;
        }
    }

    .dialog-actions {

        .save-settings-button {
            margin-bottom: 12px;
        }

        .disallow-all-button {
            margin-left: 0px;
        }

        .allow-all-button,
        .save-settings-button,
        .disallow-all-button {
            flex-basis: 100%;
        }
    }
}