 
<div class="dialog-container">
    <div class="dialog-title">
        <h1>{{gdprDialogData.title}}</h1>
        @if (gdprDialogData.displayCloseAllowsAll) {
            <a class="close-button" (click)="allowAll()">{{gdprDialogData.allowAllButtonLabel}} <fa-icon [icon]="faClose"></fa-icon></a>
        }
    </div>
    <div class="dialog-content">
        <div [innerHTML]="gdprDialogData.text">
        </div>

        @if (technicalNecessaryTrackings.length) {
            <ngx-mat-tracking-gdpr-category-section
                [disabled]="true"
                [title]="gdprDialogData.technicalNecessaryTitle"
                [showOnlyCategories]="gdprDialogData.showOnlyCategories"
                [trackings]="technicalNecessaryTrackings"
                [opened]="this.gdprDialogData.categoriesOpenedByDefault"
            >
            </ngx-mat-tracking-gdpr-category-section>
        }

        @if (enabledByDefaultTrackings.length) {
            <ngx-mat-tracking-gdpr-category-section
                [title]="gdprDialogData.enabledByDefaultTitle"
                [showOnlyCategories]="gdprDialogData.showOnlyCategories"
                [trackings]="enabledByDefaultTrackings"
                [opened]="this.gdprDialogData.categoriesOpenedByDefault"
            >
            </ngx-mat-tracking-gdpr-category-section>
        }

        @if (disabledByDefaultTrackings.length) {
            <ngx-mat-tracking-gdpr-category-section
                [title]="gdprDialogData.disabledByDefaultTitle"
                [showOnlyCategories]="gdprDialogData.showOnlyCategories"
                [trackings]="disabledByDefaultTrackings"
                [opened]="this.gdprDialogData.categoriesOpenedByDefault"
            >
            </ngx-mat-tracking-gdpr-category-section>
            <!-- <div class="category-title">
                <input type="checkbox" [checked]="allDisabledByDefaultEnabled" [aria-label]="gdprDialogData.disabledByDefaultTitle" [indeterminate]="someDisabledByDefaultEnabled" (change)="toggleDisabledByDefaultTrackings()">
                <b tabindex="0"
                    role="button"
                    (keyup)="['Enter', ' '].includes($event.key) ? disabledByDefaultOpened = !disabledByDefaultOpened : undefined"
                    (click)="disabledByDefaultOpened = !disabledByDefaultOpened"
                > 
                    {{gdprDialogData.disabledByDefaultTitle}}
                    @if (!gdprDialogData.showOnlyCategories) {
                        <fa-icon [icon]="!disabledByDefaultOpened ? faChevronDown : faChevronUp"></fa-icon>
                    }
                </b>
            </div>
            @if (disabledByDefaultOpened && !gdprDialogData.showOnlyCategories) {
                <div class="tracking" [aria-expanded]="enabledByDefaultOpened">
                    @for (tracking of disabledByDefaultTrackings; track $index) {
                        <div class="tracking-title">
                            <label [for]="tracking.name">{{tracking.name}}</label>
                            <div class="slide-toggle"
                                tabindex="0"
                                role="switch"
                                [class.checked]="isTrackingEnabled(tracking)"
                                [aria-checked]="isTrackingEnabled(tracking)"
                                [id]="tracking.name"
                                (click)="toggleTracking(tracking);"
                                (keyup)="['Enter', ' '].includes($event.key) ? toggleTracking(tracking) : undefined"
                            >
                                <div class="thumb"></div>
                            </div>
                        </div>
                        @for (paragraph of tracking.description; track $index) {
                            <p>{{paragraph}}</p>
                        }
                    }
                </div>
            } -->
        }
    </div>
    <div class="dialog-actions">
        <button type="button" class="allow-all-button" (click)="allowAll()">{{gdprDialogData.allowAllButtonLabel}}</button>
        <button type="button" class="save-settings-button" (click)="saveSettings()">{{gdprDialogData.saveSettingsButtonLabel}}</button>
        <button type="button" class="disallow-all-button" (click)="disallowAll()">{{gdprDialogData.disallowAllButtonLabel}}</button>
        <div class="links">
            <a target="_blank" rel="noopener noreferrer" [href]="gdprDialogData.privacyRoute">{{gdprDialogData.privacyDisplayName}}</a>
            <a target="_blank" rel="noopener noreferrer" [href]="gdprDialogData.imprintRoute">{{gdprDialogData.imprintDisplayName}}</a>
        </div>
    </div>
</div>